# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# LaTeX (Intermediate files)
out/
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.fls

# IDEs
.vscode/
.idea/
.DS_Store